<div id="bookmark-<%= offer.id %>" class="me-6">
  <% if user_signed_in? && current_user.bookmarked?(offer) %>
    <%= button_to offer_bookmark_path(offer, current_user.bookmarks.find_by(offer: offer)), method: :delete, title: "Remove Bookmark", class: "btn btn-icon btn-ghost-secondary" do %>
      <i class="ti ti-bookmark-filled fs-2"></i>
    <% end %>
  <% else %>
    <%= button_to offer_bookmarks_path(offer), method: :post, title: "Bookmark", class: "btn btn-icon btn-ghost-secondary" do %>
      <i class="ti ti-bookmark fs-2"></i>
    <% end %>
  <% end %>
</div>
