<div id="<%= dom_id statistic %>">
  <p>
    <strong>Location:</strong>
    <%= statistic.location %>
  </p>

  <p>
    <strong>Stat type:</strong>
    <%= statistic.stat_type %>
  </p>

  <p>
    <strong>Offer:</strong>
    <%= statistic.offer_id %>
  </p>

</div>
