<dialog
  id="turbo-confirm"
  class="card blur-bg mx-auto align-self-center d-none"
  closedby="any"
>
  <div class="modal-status bg-danger"></div>
  <form method="dialog">
    <div id="exampleModal" tabindex="-1">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>

          <div class="modal-body text-center py-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon mb-2 text-danger icon-lg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 9v2m0 4v.01" />
              <path
                d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"
              />
            </svg>

            <h3>Are you sure?</h3>

            <div class="text-secondary" id="confirm-message">
              Do you really want to remove 84 files? What you've done cannot be
              undone.
            </div>
          </div>

          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <button value="false" class="btn w-100">
                    Cancel
                  </button>
                </div>
                <div class="col">
                  <button value="true" class="btn btn-danger w-100">
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</dialog>
