<% if params.dig(:q, type).present? %>
  <% Array(params.dig(:q, type)).each do |value| %>

    <% enum_name = type.to_s.sub(/_in\z/, '') %>
    <% enum_key = Offer.send(enum_name.pluralize).key(value.to_i) %>

    <% if enum_name == "contract_type" %>
      <% enum_colour = contract_type_colour(enum_key.to_s) %>
    <% elsif enum_name == "job_type" %>
      <% enum_colour = job_type_colour(enum_key.to_s) %>
    <% else %>
      <% enum_colour = "bg-gray-100 text-gray-800" %>
    <% end %>

    <span class="px-3 py-1 text-xs border-1 rounded-full font-medium <%= enum_colour %>">
      <%= enum_key.to_s.titleize %>
    </span>
  <% end %>
<% end %>
