<%= turbo_frame_tag "new_offer" do %>
  <div class="modal modal-blur fade" id="new-offer-modal" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New offer</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            data-turbo-frame="new_offer"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <%= render partial: "offers/form", locals: { offer: Offer.new } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
