/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.checkbox-icons .unchecked-icon,
.checkbox-icons .checked-icon {
  display: none;
}

.checkbox-icons .unchecked-icon {
  display: block;
}

.custom-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-check-input:checked + .checkbox-icons .checked-icon {
  display: block;
}

.form-check-input:checked + .checkbox-icons .unchecked-icon {
  display: none;
}

.blur-bg::backdrop {
  backdrop-filter: blur(4px);
}

[data-bs-theme="dark"] .offer-dark-bg {
  background-color: var(--tblr-gray-800);
}
